body {
    background: url("../images/train.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    background: lightgreen;
}

#header {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 150px;
}

.panel-title {
    color: black;
}

h1 {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    letter-spacing: 9px;
    text-shadow: 6px 6px gray;
 }